/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import '@fontsource/manrope';

/* You can override the default Infima variables here. */
:root {
  /* base brand color */
  --ifm-color-primary: #647df0;
  /* darker tones */
  --ifm-color-primary-dark: #5368DA;
  --ifm-color-primary-darker: #4453C4;
  --ifm-color-primary-darkest: #3d4c6a;
  /* lighter tones */
  --ifm-color-primary-light: #3d4c6a;
  --ifm-color-primary-lighter: #778297;
  --ifm-color-primary-lightest: #F3F3F6;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 14px;
  --ifm-font-family-base: 'Manrope', system-ui, -apple-system, sans-serif;

  --ifm-global-radius: 0.8rem;
  --ifm-color-emphasis-300: #D7DAE0;
  --ifm-menu-color-active: var(--ifm-color-primary-darkest);
  --ifm-color-content: var(--ifm-color-primary-darkest);
  --ifm-h1-font-size: xx-large;
  --ifm-h2-font-size: x-large;
  --ifm-h3-font-size: large;
  --ifm-global-shadow-lw: 0;
  --ifm-card-background-color: var(--ifm-color-primary-lightest);
  --ifm-table-head-background: var(--ifm-color-primary-lightest);
  --ifm-code-padding-horizontal: .5rem;
  --ifm-toc-link-color: var(--ifm-color-primary-light);
  --ifm-breadcrumb-color-active: var(--ifm-menu-color-active);
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20'%3E%3Cg fill='none'%3E%3Cpath d='M4.207 12.267a.75.75 0 0 1 .026-1.06l5.25-5.002a.75.75 0 0 1 1.035 0l5.25 5.001a.75.75 0 0 1-1.034 1.086L10 7.784l-4.734 4.508a.75.75 0 0 1-1.06-.025z' fill='%23778297'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 1);

  --ifm-card-border-radius: var(--ifm-global-radius);

  /* --ifm-container-width: 1140px; */
  --ifm-container-width-xl: 1140px;

  --ifm-alert-border-width: 1px;
  --ifm-alert-border-left-width: 1px;
}

.markdown h1:first-child {
  font-size: var(--ifm-h1-font-size) !important;
}

.menu__caret:before {
  width: 1rem;
  height: 1rem;
  background-size: contain;
}

a.card {
  box-shadow: none !important;
  border-color: transparent !important;
}

a.card:hover {
  border-color: var(--ifm-table-border-color) !important;
}

.card h2 {
  --ifm-heading-color: var(--ifm-color-content) !important;
  font-size: var(--ifm-h3-font-size) !important;
}

.menu>ul>li>a,
.menu>ul>li>div>a,
.menu__link--sublist {
  color: var(--ifm-color-primary-lighter);
  font-weight: var(--ifm-font-weight-bold) !important;
}

a.menu__link.menu__link--active {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-darkest);
}

/* TOC */

.table-of-contents__link:hover {
  text-decoration: underline;
  /* color: var(--ifm-toc-link-color) !important; */
}

.table-of-contents__link--active {
  /* font-weight: var(--ifm-font-weight-bold) !important; */
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
}

th {
  text-align: left;
}

.theme-admonition {
  padding-left: 3.5rem;
  position: relative;
}

[class^="admonitionHeading"] {
  font-size: var(--ifm-h4-font-size);
  margin-bottom: 1rem;
}

[class^="admonitionIcon"] {
  font-size: .8rem !important;
  position: absolute;
  left: 1rem;
}

img {
  border-radius: 8px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5484FF;
  --ifm-color-primary-dark: cyan;
  --ifm-color-primary-darker: magenta;
  --ifm-color-primary-darkest: #E3EBFF;
  --ifm-color-primary-light: #E3EBFF;
  --ifm-color-primary-lighter: #E3EBFF;
  --ifm-color-primary-lightest: #27272A;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-font-family-base: 'Geist', system-ui, -apple-system, sans-serif;
  --ifm-background-color: #18181B;
  --ifm-heading-color: #fff;
  --ifm-table-border-color: var(--ifm-color-emphasis-200);

  --ifm-color-warning-contrast-background: #eab208ab;
  --ifm-color-warning-dark: #EAB308;

  --ifm-color-success-contrast-background: #41A34Bab;
  --ifm-color-success-dark: #41A34B;
}